<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Approved</title>
</head>
<body style="margin: 0; padding: 20px; font-family: Arial, sans-serif; background-color: #f8fafc; line-height: 1.6;">
    <div style="max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 8px; padding: 40px;">
        
        
        <p style="color: #4b5563; font-size: 16px; margin-bottom: 20px;">
            Dear {{ full_name }},
        </p>
        
        <p style="color: #4b5563; font-size: 16px; margin-bottom: 20px;">
            Congratulations! Your mentor application has been approved. We are excited to have you join our mentorship community.
        </p>
        
        <p style="color: #4b5563; font-size: 16px; margin-bottom: 20px;">
            Please join our mentorship group using this <a href="https://wa.me/+447537135681?text=%E2%80%8E%20Hello%2C%20I've%20just%20been%20approved%20as%20a%20mentor%20on%20Doclumina.%20Please%20can%20you%20add%20me%20to%20the%20respective%20group%3F" style="color: green;"><strong>WhatsApp Link</strong></a>
        </p>
        
        <p style="color: #4b5563; font-size: 16px; margin-bottom: 30px;">
            Welcome onboard!
        </p>
        
        <p style="color: #6b7280; font-size: 14px;">
            Best regards,<br>
            <strong>Doclumina Team</strong>
        </p>
        
    </div>
</body>
</html>